@page "/aanvraag/extras-toevoegen"
@using Foodtruck.Client.QuotationProcess.Components
@using Foodtruck.Client.QuotationProcess.Helpers


<MudContainer MaxWidth="MaxWidth.Large" Class="mt-2">
    <QuotationProcessTimeline currentStep="QuotationProcessStep.ADD_SUPPLEMENTS" />

    @if (supplements is null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div Class="mx-8">
            <MudGrid Justify="Justify.FlexStart">

                @if (supplements != null)
                {
                    @foreach (var supplement in supplements)
                    {
                        <MudItem lg="3" md="4" sm="6" xs="12">
                            <MudCard Outlined="true" Class="d-flex flex-column" Style="height: 100%">
                                <MudCardMedia Image="@supplement?.Supplement.ImageUrls?.Last().ToString()" Height="225" />
                                <MudCardContent>
                                    <MudText Typo="Typo.h5" Style="font-weight: bold;">@supplement?.Supplement.Name</MudText>
                                    <MudText Typo="Typo.body2">Aantal beschikbaar: @supplement?.Supplement.AmountAvailable</MudText>
                                    <MudText Typo="Typo.body1" Class="mt-2">@supplement?.Supplement.Description</MudText>
                                </MudCardContent>
                                <MudCardActions Class="mt-auto px-4">
                                    <MudStack Row="true" AlignItems="AlignItems.Center">

                                        @{
                                            int maxAmount = QuotationProcessState.CalculateMaxAmount(supplement!);
                                            bool canAddSupplement = maxAmount != 0;
                                        }
                                        <div style="width: 4.5rem;">
                                            <MudNumericField T="int" Variant="Variant.Outlined" Disabled="!canAddSupplement" Min="0" Max="maxAmount" Style="height: 3rem;" @bind-Value="supplement.Quantity" />
                                        </div>
                                        <MudButton Color="Color.Primary" Style="height: 46px;margin-bottom: -5px" Disabled="!canAddSupplement" OnClick="() => {AddSupplement(supplement.Supplement, supplement.Quantity); supplement.Quantity = 0;}">Toevoegen</MudButton>
                                    </MudStack>
                                </MudCardActions>
                            </MudCard>
                        </MudItem>
                    }
                }
            </MudGrid>
        </div>
        <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" Href="/aanvraag/formule-kiezen">Vorige stap</MudButton>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true">Doorgaan</MudButton>
    }



</MudContainer>

