@page "/"

<PageTitle>Home</PageTitle>

<div class="hero-section">
	<MudImage Src="images/8.jpg" Alt="bar" Height="700" Style="width: 100%" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center"/>
	<MudStack Style="position: absolute; top: 350px; width: 100%" Row="true" AlignItems="AlignItems.Center" Justify="Justify.Center">
		<MudStack>
			<MudText Typo="Typo.h1" Style="@($"font-family: 'Playfair Display SC', serif; color: {Theme.Palette.White}; text-shadow: rgba(0,0,0,0.2) 0px 3px 3px ")">Blanche</MudText>
			<MudButton Variant="Variant.Filled" Color="Color.Primary">Offerte aanvragen</MudButton>
		</MudStack>
	</MudStack>
</div>

@code {
	private MudTheme Theme = new MudTheme();
}