@page "/offerte-aanvragen"
@using Quotations

<PageTitle>Offerte aanvragen</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
    <MudForm>
    <MudStack Row="true">
    <MudPaper Width="50%" Class="pa-6">
    <FormulaChoicesForm Model="@formulaChoicesModel"/>
    </MudPaper>
    <MudPaper Width="50%" Class="pa-6">
    <CustomerDetailsForm Model="@customerDetailsModel"/>
    </MudPaper>
    </MudStack>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="SubmitForm">Submit</MudButton>
    </MudForm>
</MudContainer>

@if (customer != null && quotationVersion != null)
{
 <div>Hello</div>
}


